<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      War Movies
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!--Loop through each movie and display the ehader and poster-->
  @for(movie of movies;track movie)
  {
  <ion-card>
    <img alt="Movie Poster" src={{movie.Poster}} />
    <ion-card-header>
      <ion-card-title>{{movie.Title}}</ion-card-title>
      <ion-card-subtitle>{{movie.year}}</ion-card-subtitle>
  </ion-card-header>
  </ion-card>
  }
</ion-content>